<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--Atributo propio de thymelief-->
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>

<body>
    <h1 style="color: red">Hola spring boot 1 curso</h1>
    <h2 style="color: yellow">Hola spring boot 2 curso</h2>
    <h3 style="color: yellowgreen">Hola spring boot 3 curso</h3>
    <h4 style="color: aliceblue">Hola spring boot 4 curso</h4>
    <h5 style="color: blueviolet">Hola spring boot 5 curso</h5>
    <h6 style="color: blue">Hola spring boot 6 curso</h6>
</body>

</html>