<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--Atributo propio de thymelief-->
<head>
    <meta charset="UTF-8">
    <title>Enviar parametros del request http get url </title>
</head>

<body>
<h2>Rutas</h2>
<ul>
    <li>
        <a th:href="@{/params/String(texto='Hola Xavier')}">String</a>
    </li>
    <li>
        <a th:href="@{/params/String(texto='Que tal Xavier')}">String</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params(saludo='Como estas Xavier', numero = 7)}">mix-params</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params-request(saludo='Como estas Xavier', numero = 7)}">mix-params-request</a>
    </li>
</ul>
</body>
</html>